.academic-new-page-2026 .card {
    border: 0;
    border-radius: 10px;
}
.academic-new-page-2026 .card .card-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.academic-new-page-2026 .course-we-offer-section-new ul{
    column-count: 3;
  column-gap: 20px;
}
.academic-new-page-2026 .course-we-offer-section-new.main-heading h3{
    margin-bottom: 10px;
    margin-top: 20px;
}
.academic-new-page-2026 .expert-card .card{
    min-height: 400px;
    padding: 10px !important;
}
.academic-new-page-2026 .expert-card .card .card-top {
    border-radius: 10px;
    overflow: hidden;
}
@media only screen and (max-width:768px){
    .academic-new-page-2026 .course-we-offer-section-new ul{
    column-count: 1;
  column-gap: 0px;
}
.academic-new-page-2026 .expert-card .card{
    min-height: auto;
}
}